body{
    background-color: #C0EDA6;
}
hr{
    /* background-color:white; */
    border-style: none;
    height: 0px;
    width: 10%;
    border-style: dotted none none none;
    border-color: #B6FFCE;
    border-width: 5px;
}
h3{
    color: #069A8E;
}