body{
    background-color: #B6FFCE;  
}   
hr{
    /* background-color:white; */
    border-style: none;
    height: 0px;
    width: 10%;
    border-style: dotted none none none;
    border-color: orange;
    border-width: 5px;
}
h1{
    color: #931c1c;
}
h3{
    color:#931c1c ;
}
/* contact file */
.contact{
    
        background-color: #FFA8A8;
}
.heading{
        color: rgb(59, 15, 59);
    }
.horline{
     /* background-color:white; */
     border-style: none;
     height: 0px;
     width: 10%;
     border-style: dotted none none none;
     border-color: #B6FFCE;
     border-width: 5px;
}
/*  favourite file */
.h1{
    color:rgb(110, 14, 30) ;
}
.favourite{
    background-color: #9FB4FF

}
/* hobbies file */
.hoby{
    background-color: #C0EDA6;
}
.h6{
     /* background-color:white; */
     border-style: none;
     height: 0px;
     width: 10%;
     border-style: dotted none none none;
     border-color: #B6FFCE;
     border-width: 5px;
}
.h8{
    color: #069A8E;
}